{% extends "base.html" %}

{% block title %}Notifiksi{% endblock %}


{% block content %}
<div class="content">
    <div class="container-fluid">
        <center><h1>Notifikasi</h1></center>
        <div class="notif">
            <div class="name">
                <p><strong><a href="#">Hadi Sumantri Lubis</a></strong> <span class="user">@hadylubis</span></p>
            </div>
            <div class="isi">
                <p>Diberitahukan kepada Saudara Hadi Sumantri Lubis bahwa Buku <span class="judul" name="judul">Ada Apa Dengan Cinta 2</span> wajib dikembalikan <span class="jadwal" name="jadwal">3</span>  hari lagi. Sekian dan terimakasih atas perhatian dan kerjasamanya. ttd:Perpustakaan Digital</p>
            </div>
        </div>
    </div>	
</div>
{% endblock %}